{
    "singleQuote": true,
    "tabWidth": 2,
    "bracketSameLine": true,
    "overrides": [
      {
        "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
        "options": {
          "semi": false,
          "trailingComma": "none"
        }
      }
    ]
  }